#page {
    border-style: solid;
    border-width: 1px;
    border-color: #333333;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

#header {
    font-size: 20px;
    font-weight: bold;
    color:#123456;
    text-align: center;
    margin-top: 50px;
    margin: 25px;
}

#stats {
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    color: black;
    
}

.block {
    border-style: solid;
    border-width: 1px;
    border-color: #333333;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    width: 44%;
    padding: 10px;
    
}

.label {
    display: inline-block
}

.save {
	display: block;
	padding: 5px;
	margin: 10px;
	border: 1px solid #333;
}